# .gitignore
# ملفات قاعدة البيانات (مهم جدًا)
*.db
instance/*.db

# ملفات الجلسة الخاصة بـ Telethon
*.session

# ملفات Python المترجمة
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
.hypothesis/

# ملفات بيئة Virtual Environment
venv/
env/
.env

# ملفات مؤقتة
temp/
tmp/

# ملفات نظام ويندوز
Thumbs.db
.DS_Store
